<%= render "shared/modal", title: "新規作成" do %>
  <%= form_with model: @course do |f| %>
    <% @course.errors.full_messages.each do |message| %>
      <div class="text-red-500 text-sm mb-2"><%= message %></div>
    <% end %>
    <div class="mb-5">
      <%= f.label :title, 'お題', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
      <%= f.text_field :title, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5', required: true, placeholder: 'バックエンドエンジニア研修' %>
    </div>

    <%= f.submit '作成', data: { turbo_submits_with: "作成中..." }, class: 'hover:cursor-pointer text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
  <% end %>
<% end %>
