<%= turbo_stream_from "#{dom_id(@user_thread)}" %>
<% breadcrumb :user_thread, @user_thread %>
<main>
  <div class="px-4 pt-6">
    <%= render 'shared/breadcrumbs' %>
    <div class="flex lg:flex-row flex-col gap-4 lg: gap-0">
      <div class="lg:w-2/3 lg:pr-3 lg:order-first order-last min-h-[calc(100vh_-_150px)] relative">
        <div id="messages" class="max-h-[calc(100vh_-_280px)] overflow-y-auto">
          <%= render partial: 'user_threads/messages/message', collection: @messages %>
        </div>
        <%= render partial: 'user_threads/messages/form', locals: { message: @message, user_thread: @user_thread, form_disabled: (@user_thread.status != 'completed') } %>
      </div>
      <div class="lg:w-1/3 lg:pl-3">
        <%= render partial: 'user_threads/topic_list', locals: { topics: @topics, current_topic_id: @user_thread.topic_id } %>
      </div>
    </div>
  </div>
</main>




